.list_tours_tours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .post_post {
        width: 33.33333333333%;
        margin-bottom: 1em;
        padding: 0 0.5em;


        .post_item_cate_tour {
            border: 1px solid #f7f7f7;

            .img_thumb {
                a {
                    width: 100%;
                    max-width: 100%;
                    height: 220px;
                    display: block;
                    @include tran_slow_03();

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .tour_info {
                padding: 1em 5px;

                .head_box {
                    margin-bottom: 1em;

                    .entry_title {
                        a {
                            font-size: px2em(14);
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}

.box_news {
    &.category {
        .box_left {
            display: flex;
            flex-direction: column;

            .list_item_post {
                width: 100%;
                margin-bottom: 1em;

                .item_avatar_news {
                    width: 26%;
                    float: left;
                    padding-right: 1em;

                    a {
                        text-decoration: none;
                        outline: none;


                        height: 200px;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }

                .content_article {
                    .heading_title_news {
                        margin-bottom: 1em;

                        .title {
                            a {
                                text-decoration: none;
                                outline: none;
                                font-size: px2em(20);
                                font-weight: 600;
                                line-height: 1.3;
                            }
                        }
                    }
                }

                &:after {
                    @include clear_fix();
                }
            }

            .content_article {
                float: left;
                width: 74%;
            }


        }
    }
}