.list_tours_tours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.list_cars_cars {
        .list_info {
            li {
                &.local {
                    span {
                        display: block;
                        min-width: 60px;
                        color: #888;
                    }
                }

                &.price {
                    justify-content: flex-end;
                }

                &.loai_xe {
                    &::before {
                        background-image: url(public/images/icon/sports-car.png);
                    }
                }

                &.doi_xe {
                    &::before {
                        background-image: url(public/images/icon/car.png);
                    }
                }

                &.shop_so {
                    &::before {
                        background-image: url(public/images/icon/pistons.png);
                    }
                }
            }
        }
    }

    .post_post {
        width: 33.33333333333%;
        margin-bottom: 1em;
        padding: 0 0.5em;
        @include tran_slow_03();

        @include maxWidth(980px) {
            width: 50%;
        }

        @include maxWidth(480px) {
            width: 100%;
            padding: 0;
        }

        .post_item_cate_tour {
            border: 1px solid #f7f7f7;

            .img_thumb {
                a {
                    width: 100%;
                    max-width: 100%;
                    height: 220px;
                    display: block;
                    @include tran_slow_03();

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .tour_info {
                padding: 1em 5px;

                .head_box {
                    margin-bottom: 1em;

                    .entry_title {
                        a {
                            font-size: px2em(16);
                            line-height: 1.3;
                            font-weight: 600;
                        }
                    }
                }

                .read_more {
                    margin: 0;
                    padding: 10px;
                }
            }
        }
    }
}

.list_info {
    li {
        &.local {
            span {
                display: block;
                min-width: 60px;
                color: #888;
            }
        }

        &.price {
            justify-content: flex-end;
        }

        &.loai_xe {
            &::before {
                background-image: url(public/images/icon/sports-car.png);
            }
        }

        &.doi_xe {
            &::before {
                background-image: url(public/images/icon/car.png);
            }
        }

        &.shop_so {
            &::before {
                background-image: url(public/images/icon/pistons.png);
            }
        }
    }
}

.box_news {
    &.category {
        .box_left {
            display: flex;
            flex-direction: column;

            .list_item_post {
                width: 100%;
                margin-bottom: 1em;

                .item_avatar_news {
                    width: 26%;
                    float: left;
                    padding-right: 1em;

                    a {
                        text-decoration: none;
                        outline: none;


                        height: 200px;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }

                .content_article {
                    .heading_title_news {
                        margin-bottom: 1em;

                        .title {
                            a {
                                text-decoration: none;
                                outline: none;
                                font-size: px2em(20);
                                font-weight: 600;
                                line-height: 1.3;
                            }
                        }
                    }
                }

                &:after {
                    @include clear_fix();
                }
            }

            .content_article {
                float: left;
                width: 74%;
            }


        }
    }
}