.warap {}

.container {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include maxWidth(1170px) {
        max-width: 1024px;
    }

    @include maxWidth(1024px) {
        max-width: 960px;
    }

    @include maxWidth(980px) {
        max-width: 720px;
    }

    @include maxWidth(768px) {
        max-width: 540px;
    }

    @include maxWidth(480px) {
        max-width: 100%;
    }
}

//======HEADER=========
.main_header {
    border: 1px solid $colBorder;

    .aside_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;

        .logo {
            width: 300px;

            a {
                text-decoration: none;
                outline: none;
                display: block;

                img {
                    height: 50px;
                    max-width: 100%;
                }
            }
        }

        .primary_menu {
            width: calc(100% - 200px);

            .menu {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .menu_item {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: none;
                        outline: none;
                        padding: 10px 15px;
                        color: #1f1f1f;
                        font-size: px2em(14);
                        text-transform: uppercase;
                        @include borderRadius(4px);
                        @include tran_slow_03();

                        @include hofo() {
                            background: $colB;
                            color: #333;
                        }
                    }

                    &.active {
                        a {
                            background: $colB;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}