.container {
    max-width: 1400px;
    min-width: 320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include maxWidth(1400px) {
        max-width: 1200px;
    }

    @include maxWidth(1170px) {
        max-width: 1024px;
    }

    @include maxWidth(1024px) {
        max-width: 960px;
    }

    @include maxWidth(980px) {
        max-width: 720px;
    }

    @include maxWidth(768px) {
        max-width: 100%;
    }

    // @include maxWidth(480px) {
    //     max-width: 100%;
    // }
}

//======WARAP=========
.warap {
    margin-top: 80px;
    min-height: 80vh;
    color: #313131;
    // background: #f7f7f7;
}

.btn {
    display: inline-flex;
    height: 40px;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0 4em;
    font-size: px2em(14);
    cursor: pointer;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include tran_slow_03();

    @include hofo() {
        background: $colBH;
    }

    &.btn01 {
        background: $colA;

        @include hofo() {
            background: $colAH;
        }
    }

    &.btn02 {
        background: $colB;
        color: #fff;

        @include hofo() {
            background: $colBH;
        }
    }

    &.btn03 {
        background: $colC;
        color: #fff;

        @include hofo() {
            background: $colCH;
        }
    }
}

.content_home {
    padding-top: 0;

    @include maxWidth(1024px) {}

    @include maxWidth(768px) {}

    &.content_event {
        .show_event {
            border: 1px solid $colBorder;

            .slick-dots {
                position: absolute;
                bottom: -1.5em;
                right: 0;
                display: flex;
                flex-direction: row;

                li {
                    margin-left: 0.5em;

                    &.slick-active {
                        button {
                            background: $colA;
                        }
                    }

                    button {
                        cursor: pointer;
                        border: none;
                        background: #c1c1c1;
                        outline: none;
                        text-indent: -9999px;
                        width: 30px;
                        height: 10px;
                        @include borderRadius(4px);
                    }
                }
            }

            .listEvent {
                padding: 1em 0.5em;
                // border: 1px solid $colBorder;
                position: relative;

                @include maxWidth(768px) {
                    padding: 0;
                }

                &:after {
                    content: '';
                    background: $colBorder;
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

                // &:last-child {
                //     &:after {
                //         content: none;
                //     }
                // }
                a {
                    display: block;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    &.content_service {
        border-top: 1px solid $colBorder;
        background: #f6f6f6;
        padding: 4em 0;

        @include maxWidth(1024px) {
            padding: 3em 0;
        }

        @include maxWidth(768px) {
            padding: 2em 0;
        }

        .service_mycom {
            .heading_main {
                display: flex;
                justify-content: center;
                font-size: px2em(24);
                font-weight: 600;
                text-transform: uppercase;
            }

            .description {
                color: #333;
                line-height: 1.6;
                margin-top: 2em;
            }

            .list_service {
                margin-top: 4em;

                &:after {
                    @include clear_fix();
                }

                .item_list {
                    float: left;
                    width: 33.333333%;
                    padding: 0 0.5em;
                    @include tran_slow_03();

                    @include maxWidth(768px) {
                        width: 100%;
                        margin-bottom: 2em;
                        padding: 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &:nth-child(1) {
                        .heading_service {
                            background: $colA;
                            min-height: 100px;
                        }

                        .destopn_service {
                            border-bottom: 5px solid $colA;
                        }
                    }

                    &:nth-child(2) {
                        .heading_service {
                            background: $colB;
                        }

                        .destopn_service {
                            border-bottom: 5px solid $colB;
                        }
                    }

                    &:nth-child(3) {
                        .heading_service {
                            background: $colC;
                        }

                        .destopn_service {
                            border-bottom: 5px solid $colC;
                        }
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    a {
                        display: flex;
                        flex-direction: column;

                        .heading_service {
                            min-height: 100px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-transform: uppercase;
                            font-size: px2em(18);
                            color: #fff;
                        }

                        .thumb_item {
                            height: 255px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                max-width: 100%;
                                @include tran_slow_05();
                            }
                        }

                        .destopn_service {
                            min-height: 200px;
                            background: #fff;
                            border-left: 1px solid $colBorder;
                            border-right: 1px solid $colBorder;
                            text-align: center;
                            padding: 2em;

                            .des {
                                color: #8b8b8b;
                            }

                            .btn {
                                // display: inline-flex;
                                height: 36px;
                                padding: 0 2em;
                                align-items: center;
                                margin-top: 1em;
                                @include borderRadius(4px);
                            }
                        }
                    }

                    @include hofo() {
                        a {
                            .thumb_item {
                                img {
                                    transform: scale(1.2);
                                    -webkit-transform: scale(1.2);
                                    -moz-transform: scale(1.2);
                                    -ms-transform: scale(1.2);
                                    -o-transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.content_news {
        position: relative;
        min-height: 300px;
        padding: 0;

        .gradiend_bg {
            position: absolute;
            left: 0;
            right: 0;
            height: 100px;
            z-index: 4;

            @include maxWidth(980px) {
                height: 60px;
            }

            @include maxWidth(480px) {
                height: 40px;
            }
        }

        .gradient_top {
            @include gradientTop();
        }

        .gradient_bot {
            @include gradientBot;
        }

        .bg_gra {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
            position: relative;
            background-image: url(public/images/icon/44.jpg);

            @include maxWidth(980px) {
                padding-top: 60px;
                padding-bottom: 60px;
            }

            @include maxWidth(480px) {
                padding-top: 40px;
                padding-bottom: 40px;
            }

            .ovelay {
                position: absolute;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: #FFF;
                color: inherit;
                opacity: 0.8;
            }
        }
    }

    &.content_list_tour {
        padding-top: 4em;

        @include maxWidth(1024px) {
            padding-top: 3em;
        }

        @include maxWidth(768px) {
            padding-top: 2em;
        }
    }
}

.heading_main {
    .fist_spa {
        color: #7b7b7b;
    }

    .secnd_spa {
        color: $colB;
    }
}

.content {
    .heading_wrapper {
        margin-bottom: 2em;

        @include maxWidth(480px) {
            margin-bottom: 3em;
        }

        .main_title {
            font-size: px2em(28);
            color: #1a2b48;

            strong {
                font-size: 110%;
                font-weight: 600;
            }
        }

        .main_des {
            color: #5e6d77;
            font-size: px2em(14);
        }
    }
}

.content_list_tour {
    .box_warap_content {
        .list_tour {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .item_list_tour {
                // float: left;
                width: 33.33333333333%;
                padding: 0 0.5em;
                margin-bottom: 1em;

                @include maxWidth(980px) {
                    width: 50%;
                }

                @include maxWidth(480px) {
                    width: 100%;
                    padding: 0;
                }

                .tour_thumb {
                    a {
                        display: block;
                    }
                }

                .tour_thumb {
                    .image {
                        img {
                            width: 100%;
                            height: 250px;
                            max-width: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .content_tour {
                    margin-top: 0.5em;

                    .title {
                        font-weight: 600;
                        font-size: px2em(16);
                        color: #333;
                        line-height: 1.4;
                    }

                    .list_info {
                        display: flex;
                        flex-direction: column;
                        margin-top: 1em;

                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 0.5em;

                            &.local {
                                display: flex;

                                &::before {
                                    content: '';
                                    background-image: url(public/images/icon/local.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 90%;
                                    height: 18px;
                                    margin-right: 5px;
                                    width: 18px;
                                    display: block;
                                }
                            }

                            &.date {
                                color: #212121;
                                font-weight: 600;

                                &::before {
                                    content: '';
                                    background-image: url(public/images/icon/bullet_time.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 90%;
                                    height: 18px;
                                    width: 18px;
                                    margin-right: 5px;
                                    display: block;
                                }
                            }

                            &.fa_co {
                                &::before {
                                    content: '';
                                    background-image: url(public/images/icon/street.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 90%;
                                    height: 18px;
                                    width: 18px;
                                    margin-right: 5px;
                                    display: block;
                                }

                                .local_start_end {
                                    display: flex;
                                    flex-direction: row;

                                    .local_start {
                                        &:after {
                                            content: '-';
                                        }
                                    }
                                }
                            }

                            &.price {
                                font-size: px2em(12);

                                span {
                                    color: $colB;
                                    font-weight: 600;
                                    margin-left: 5px;
                                    font-size: px2em(18);
                                }
                            }
                        }
                    }

                    .read_more {
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        .btn_read_more {
                            position: relative;
                            padding: 0 25px 0 40px;
                            background: $colA;
                            display: flex;
                            align-items: center;
                            @include tran_slow_03();

                            @include hofo() {
                                background: $colAH;
                            }

                            &::before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                content: "";
                                width: 0;
                                height: 0;
                                border-top: 20px solid transparent;
                                border-left: 20px solid #fff;
                                border-bottom: 20px solid transparent;
                            }
                        }
                    }
                }
            }

            &:after {
                @include clear_fix();
            }
        }
    }
}

.news_container {
    position: relative;
    padding: 0;

    @include maxWidth(980px) {}

    @include maxWidth(480px) {}

    .list_news {
        position: relative;

        .slick-dots {
            position: absolute;
            top: -2em;
            right: 0;
            display: flex;
            flex-direction: row;

            li {
                margin-left: 0.5em;

                &.slick-active {
                    button {
                        background: $colA;
                    }
                }

                button {
                    cursor: pointer;
                    border: none;
                    background: #c1c1c1;
                    outline: none;
                    text-indent: -9999px;
                    width: 30px;
                    height: 10px;
                    @include borderRadius(4px);
                }
            }
        }

        .item_news {
            padding: 0 10px;

            @include maxWidth(480px) {
                padding: 0;
            }

            .post_news {
                display: flex;
                flex-direction: column;

                .thumb_news {
                    overflow: hidden;

                    // min-height: 200px;
                    // height: 100%;
                    // max-height: 300px;
                    a {
                        text-decoration: none;
                        outline: none;
                        display: block;
                        height: 280px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .content {
                    .info_news {
                        display: flex;
                        flex-direction: row;
                        margin-top: 1em;
                        margin-bottom: 1em;

                        li {
                            display: flex;
                            flex-direction: row;
                            margin-right: 1em;

                            &:last-child {
                                margin-right: 0;
                            }

                            &.cate {
                                a {
                                    text-decoration: none;
                                    outline: none;
                                    color: #333;
                                    font-weight: 600;
                                }

                                &::before {
                                    margin-right: 0.5em;
                                    display: block;
                                    content: '';
                                    height: 16px;
                                    width: 16px;
                                    background-image: url(public/images/icon/list.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 90%;
                                }
                            }

                            &.date {
                                &::before {
                                    margin-right: 0.5em;
                                    display: block;
                                    content: '';
                                    height: 16px;
                                    width: 16px;
                                    background-image: url(public/images/icon/bullet_time.png);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: 90%;
                                }
                            }
                        }
                    }

                    .title {
                        margin-bottom: 1em;

                        a {
                            line-height: 1.4;
                            font-size: px2em(16);
                            // font-weight: 600;
                            text-decoration: none;
                            outline: none;
                            @include tran_slow_03();

                            @include hofo() {
                                color: $colA;
                            }
                        }
                    }

                    .read_more {
                        display: flex;
                        justify-content: flex-end;

                        .btn_read {
                            padding: 0.5em 2em;
                            background: $colB;
                            color: #fff;
                            @include tran_slow_03();

                            @include hofo() {
                                background: $colBH;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content_fo {
    display: flex;
    flex-direction: row;

    @include maxWidth(768px) {
        flex-direction: column;
    }

    .item_fo {
        width: 33.333333333333%;

        @include maxWidth(768px) {
            width: 100%;
            margin-bottom: 2em;
        }

        .bodyfo {
            .title {
                font-weight: 600;
                font-size: px2em(14);
                color: #000;
                margin-bottom: 1em;
                line-height: 1.4;
            }

            .list_bo {
                display: flex;
                flex-direction: column;

                .list_li_bo {
                    margin-bottom: 1em;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.open_menu {
    .menu_respo {
        display: block;
        left: 0;
    }
}

.menu_respo {
    overflow: hidden;
    position: relative;
    position: fixed;
    left: -280px;
    width: 280px;
    bottom: 0;
    top: 0;
    z-index: 99;
    background: #fff;
    @include tran_slow_03();

    .nav_menu,
    .menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;

        .menu_item,
        .menu-item {
            grid-column: 1 span;
            display: block;

            a {
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                outline: none;
                color: #333;
                @include tran_slow_03();
            }
        }
    }
}

.container {
    &.content_bg {
        background: #fff;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.breakcrumm_ss {
    background: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}