.content_page_main {
    &.colum_2 {
        .box_news {
            .box_left {
                width: 25%;

            }

            .box_right {
                width: 75%;
            }
        }
    }

    &.full_width {
        .box_right {
            width: 100%;
        }
    }

    .box_news {
        .box_left {}

        .box_right {

            .title_post {
                margin-bottom: 2em;

                h1 {
                    font-weight: 600;
                    letter-spacing: 0;
                    font-size: 1.8em;
                }
            }
        }
    }
}