.sidebar {
    padding-left: 1em;
    margin-top: 2em;
    border-left: 1px solid #f7f7f7;

    .wiget {
        margin-bottom: 3em;
    }
}

.widget-title {
    font-size: px2em(16);
    letter-spacing: 0;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 1em;
    border-bottom: 1px solid #f7f7f7;

    &:after {
        position: absolute;
        left: 0;
        bottom: -2px;
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: $colA;
    }
}

.list_news_side_bar {
    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: row;
            padding: 0.5em 0;
            border-bottom: 1px solid #f7f7f7;

            &::before {
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                background-image: url('public/images/icon/newspaper.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                margin-right: 0.3em;
            }

            a {
                line-height: 1.3;
                @include tran_slow_03();

                @include hofo() {
                    color: $colA;
                }
            }
        }
    }
}

.fomr_search {
    background: #e1e1e1;
    padding: 2em 1em;

    .group_form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;

        label {
            margin-bottom: 0.3em;
            letter-spacing: 0;
            font-size: px2em(13);
            color: #777;
        }

        .control_in {
            position: relative;

            &.in_one {
                &:after {
                    background-image: url(public/images/icon/location-map.png);
                }
            }

            &.in_chu {
                &:after {
                    background-image: url(public/images/icon/placeholder-for-map.png);
                }
            }

            input,
            select {
                height: 40px;
                padding: 0 1em;
                font-size: px2em(14);
                outline: none;
                position: relative;
                width: 100%;
                border: 1px solid #f7f7f7;
                @include tran_slow_03();
            }

            &:after {
                content: "";
                pointer-events: none;
                position: absolute;
                width: 40px;
                height: 40px;
                right: 0;
                top: 0;
                background: #fff;
                border: 1px solid #f7f7f7;
                border-left: none;
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: center;
            }
        }

        .btn_submit_search {
            display: block;
            height: 40px;
            border: none;
            background: $colB;
            min-width: 140px;
            // margin-right: auto;
            margin-left: auto;
            cursor: pointer;
            color: #fff;
            font-size: px2em(14);
            @include tran_slow_03();

            @include hofo() {
                background: $colBH;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.tour_links {
    .item_tour_links {
        margin-bottom: 1em;

        .tours {
            .thumbnail {
                a {
                    text-decoration: none;
                    outline: none;
                    display: block;
                    height: 140px;
                    @include tran_slow_03();

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .heading_title {
                margin-top: 0.5em;

                h3 {
                    font-size: px2em(14);

                    a {
                        text-decoration: none;
                        outline: none;
                        display: block;
                        letter-spacing: 0;
                        line-height: 1.3;
                    }
                }

                .money {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    span.money {
                        font-size: px2em(20);
                        color: $colB;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}