.main_content_tours {
    padding-top: 1em;
    background: #f7f7f7;

    .main_info_tour {
        display: flex;
        flex-direction: row;
        background: #f5f5f5;
        padding: 2em 1em;

        @include maxWidth(1024px) {
            flex-direction: column;
        }

        @include maxWidth(768px) {
            padding: 0;
        }

        .slideshow_tour {
            width: 50%;
            @include tran_slow_03();

            @include maxWidth(1024px) {
                width: 100%;
            }
        }

        .detail_tour {
            width: 50%;
            padding: 0 1em;
            @include tran_slow_03();

            @include maxWidth(1024px) {
                width: 100%;
                padding: 0;
            }

            .infos {
                display: flex;
                flex-direction: column;

                .info_item {
                    display: flex;
                    flex-direction: row;
                    padding: 1em;

                    &:nth-child(2n+1) {
                        background: #eee;
                    }

                    .info_group {
                        width: 50%;

                        label {
                            width: 100px;
                            color: #777;
                            display: inline-block;
                            font-size: px2em(12);
                        }

                        &.full {
                            width: 100%;
                        }

                        span {
                            font-weight: bold;
                            color: #333;

                            &.money {
                                font-size: px2em(28);
                                color: $colB;
                            }
                        }
                    }
                }
            }
        }
    }

    .maincontent {
        display: flex;
        flex-direction: row;

        .box_left {
            width: 75%;
            @include tran_slow_03();

            @include maxWidth(1024px) {
                width: 100%;
            }

            &.article_content {}
        }

        .box_right {
            width: 25%;
            @include tran_slow_03();

            @include maxWidth(1024px) {
                display: none;
            }

            &.sidebar {}
        }
    }
}

.article_content {
    padding-right: 1em;

    @include maxWidth(1024px) {
        padding-right: 0;
    }

    .main_article {
        .heading_title {
            margin-top: 2em;
            border-bottom: 1px solid #f7f7f7;
            position: relative;
            padding-bottom: 10px;

            h4 {
                font-size: px2em(20);
                font-weight: 600;
                letter-spacing: 0;
            }

            &::before {
                content: '';
                height: 5px;
                width: 100px;
                background: $colB;
                display: block;
                position: absolute;
                left: 0;
                bottom: -2px;
            }
        }

        .body_article {}

    }
}

.body_article {
    margin-top: 2em;

    p {
        font-size: px2em(16);
        line-height: 1.8;
        margin-bottom: 1em;
    }

    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .alignright {
        display: block;
        margin-left: auto;
    }

    .alignleft {
        display: block;
        margin-right: auto;
    }

    *img {
        margin-top: 0.5em;
        max-width: 100%;
        height: auto;
        margin-bottom: 0.5em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.3;
        color: #313131;
        margin-bottom: 1em;
        letter-spacing: 0;
    }

    h2 {
        font-size: px2em(21);
    }

    h3 {
        font-size: px2em(20);
    }

    h4 {
        font-size: px2em(19);
    }

    h5 {
        font-size: px2em(18);
    }

    h6 {
        font-size: px2em(17);
    }

    strong {
        font-weight: 600;
    }

    ul {
        li {
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;

            &::before {
                content: '';
                height: 10px;
                width: 10px;
                background-image: url('public/images/icon/next.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 90%;
            }
        }
    }
}

.sidebar {}

.read_more {
    border-top: 1px solid $colBorder;
    margin-top: 1em;
    margin-bottom: 1em;

    .heading {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;

        span {
            font-size: px2em(24);
            position: relative;
            display: flex;
            flex-direction: row;

            &::before {
                margin-right: 0.2em;
                content: '';
                background-image: url(public/images/icon/destination.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 90%;
                height: 24px;
                width: 24px;
                display: block;
            }
        }
    }

    .box_tour_more {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .item_tour_more {
            width: 33.3333333%;
            padding: 0 0.5em;
            margin-bottom: 2em;
            @include tran_slow_03();

            @include maxWidth(768px) {
                width: 50%;
            }

            @include maxWidth(480px) {
                width: 100%;
                margin-bottom: 1em;
            }

            .main_thum {
                margin-bottom: 1em;

                a {
                    display: block;
                    min-height: 200px;
                    height: 240px;
                    max-height: 260px;
                    @include tran_slow_03();

                    @include maxWidth(480px) {
                        height: 220px;
                    }

                    .img_thumb {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        max-width: 100%;
                    }
                }
            }

            .detail_tour_more {}
        }
    }
}

.box_social {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include tran_slow_03();

    @include maxWidth(1024px) {
        margin-top: 2em;
    }

    @include maxWidth(768px) {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        font-size: px2em(20);
        color: #121213;
        margin-right: 1em;

        @include maxWidth(768px) {
            margin-bottom: 0.5em;
        }

        @include maxWidth(480px) {
            font-size: px2em(16);
        }
    }

    .main_sharing {
        display: flex;
        flex-direction: row;

        li {
            margin-right: 1em;

            @include maxWidth(480px) {
                margin-right: 0.5em;
            }

            a {
                height: 40px;
                flex-direction: row;
                align-items: center;
                min-width: 100px;
                @include tran_slow_03();

                @include maxWidth(480px) {
                    flex-direction: column;
                    min-width: 60px;
                }

                justify-content: center;
                display: flex;

                &:after {
                    content: '';
                    display: block;
                    width: 18px;
                    height: 18px;
                    background-image: url('public/images/icon/fb.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 90%;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &._socila_fb {
                background: #3b5998;

                a {
                    &:after {
                        background-image: url('public/images/icon/fb.png');
                    }
                }
            }

            &._socila_tw {
                background-color: #00b6f1;

                a {
                    &:after {
                        background-image: url('public/images/icon/tw.png');
                    }
                }
            }

            &._socila_pri {
                background-color: #cb2027;

                a {
                    &:after {
                        background-image: url('public/images/icon/pinterest.png');
                    }
                }
            }

            &._socila_zalo {
                background-color: #018fe5;

                a {
                    &:after {
                        background-image: url('public/images/icon/zalo.png');
                    }
                }
            }
        }
    }
}

.entry_tags {
    color: #8c8c8c;
    background-color: #f9f9f9;
    padding: 2em 1em;
    margin-top: 2em;

    &.no_padding {
        padding: 0;
    }

    &.tags {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

        .title_tags {
            font-size: px2em(18);
            color: #121213;
            margin-right: 1em;

            @include maxWidth(768px) {
                margin-bottom: 0.5em;
            }

            @include maxWidth(480px) {
                font-size: px2em(16);
            }
        }

        a {
            padding-left: 1em;
            color: #8c8c8c;
            margin-bottom: 1em;
            @include tran_slow_03();
            display: flex;
            flex-direction: row;

            &::before {
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                background-image: url('public/images/icon/tag.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 90%;
            }

            @include hofo() {
                color: $colB;
            }
        }
    }
}

.header_article {
    margin-bottom: 2em;

    h1 {
        font-size: px2em(20);
        color: #333;
        font-weight: 600;
        letter-spacing: 0;
    }
}

.main_info_tour {
    .slideshow_tour {
        .item_slide {
            height: 420px;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.contact_tour {
    background: $colA;
    color: #333;
    padding: 0.5em;
    margin-top: 1em;

    .call_now {
        font-weight: 600;
        letter-spacing: 0;
        font-size: px2em(20);
    }

    .hotline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        justify-content: center;

        li {
            font-size: px2em(28);
            font-weight: 600;
            padding-right: 0.5em;
            color: #000;
        }
    }

    .chat {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        justify-content: center;

        .chat_item {
            display: flex;

            margin-right: 1em;

            a {
                display: flex;
                text-decoration: none;
                align-items: center;
                outline: none;
                padding: 0.2em 1em;
                @include borderRadius(4px);
                color: #fff;
                @include tran_slow_03();
            }

            &:last-child {
                a {
                    margin-right: 0;
                }
            }
        }

        .chat_facebook {
            a {
                background: #21569a;

                &::before {
                    margin-right: 0.5em;
                    content: '';
                    height: 40px;
                    width: 40px;
                    display: block;
                    background-image: url('public/images/icon/fb-icon.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 90%;
                }
            }
        }

        .chat_zalo {
            a {
                background: #00abff;

                &::before {
                    margin-right: 0.5em;
                    content: '';
                    height: 40px;
                    width: 40px;
                    display: block;
                    background-image: url('public/images/icon/zalo-icon.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 90%;
                }
            }
        }
    }

    .control_boot_tours {
        display: flex;
        justify-content: flex-end;

        .btn_book {
            display: block;
            @include borderRadius(4px);
            color: #fff;
            background: $colB;
            padding: 0.6em 2em;
            @include tran_slow_03();

            @include hofo() {
                background: $colBH;
            }
        }
    }
}

.content_left_search,
.box_left {
    .wiget {
        margin-bottom: 2em;
    }
}